.title_table{
    width: 100%;
}

table{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem 1rem 0 0;
    padding: 0.2rem;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    color:white;
    text-align: center;
    width: 38rem;
}


thead{
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem 1rem 0 0;
}

tbody{
    display: block;
    width: 100%;   
    display: inline-block;
    overflow:auto;
    max-height:40.6rem;
}

tr {
    display: flex;
    flex-flow: row;
    width: 36.8rem;
    height: 3rem;
    line-height:3rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:0.12rem solid white;
    float:left;
}

tr .id {
    flex-grow: 0;
    flex-basis: 4rem;
}

tr .nome {
    text-align: left;
    flex-grow: 1;
    flex-basis: auto;
}

tr .valor {
    flex-grow: 0;
    flex-basis: 8rem;
}

tr .preenche {
    background: rgba(0, 0, 0, 0.3);
}

tr .botao {
    flex-grow: 0;
    flex-basis: 3rem;
}

tbody::-webkit-scrollbar {
    width: 0.5rem;
  }
   
  tbody::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
  }

  tbody::-webkit-scrollbar-thumb {
    background-color: rgb(17, 81, 145);
    border-radius: 0.5rem;
    border: 0.1rem solid black;
  }


/* VIEW */
#table_view_suco,
#table_view_preferencia,
#table_view_acrescimo{
    width: 29rem;
    position:absolute;
    top:0rem;
    left: 0rem;
}

#table_view_preferencia{
    top:12rem;
}

#table_view_acrescimo{
    top:24rem;
}

#table_view_suco tr,
#table_view_preferencia tr,
#table_view_acrescimo tr{
    font-size: 1.2rem;
    width: 30rem;
}






/* SELECT */

#table_select_preferencias,
#table_select_acrescimos{
    width: 25rem;
    position:absolute;
    top: 0rem;
    left: 0rem;
}

#table_select_acrescimos{
    top:24rem;
}


#table_select_preferencias tr,
#table_select_acrescimos tr{
    font-size: 1.2rem;
    width: 26rem;
}


/* LEFT */
#table_select_sucos{
    position:absolute;
    top:0rem;
    left: 0rem;
}




#table_view_pedido{
    position:absolute;
    top:6rem;
    left:30rem;
}

#table_view_pedido tr{
    font-size: 1rem;
    width: 70rem;
}