table{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem 1rem 0 0;
    padding: 0.2rem;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    color:white;
    text-align: center;
    width: 38rem;
}


thead{
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem 1rem 0 0;
}

tbody{
    display: block;
    width: 100%;   
    display: inline-block;
    overflow:auto;
    max-height:40.6rem;
}

tr {
    display: flex;
    flex-flow: row;
    width: 36.8rem;
    height: 3rem;
    line-height:3rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:0.12rem solid white;
    float:left;
}

tr .id {
    flex-grow: 0;
    flex-basis: 4rem;
}

tr .nome {
    flex-grow: 0;
    flex-basis: 30rem;
    text-align: left;
}

tr .valor {
    flex-grow: 0;
    flex-basis: 8rem;
}

tr .preenche {
    background: rgba(0, 0, 0, 0.3);
    flex-grow: 1;
    flex-basis: auto;
}

tr .botao {
    flex-grow: 0;
    flex-basis: 3rem;
}


#btn-primary, #btn-danger{
    display:inline-block;
    color:white;
    background-color: dodgerblue;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 0.2rem;
}

#btn-danger{
    background-color: red;
}

#btn-primary:hover,
#btn-danger:hover{
    background-color: rgba(5, 134, 209, 0.452);
}





#table_create_juice{
    position:absolute;
    top:36rem;
    left:42rem;
}





#table_create_juice_ativo{
    width: 29rem;
    position:absolute;
    top:1rem;
    left: 42rem;
}

#table_peso_ativo{
    width: 29rem;
    position:absolute;
    top:13.3rem;
    left: 42rem;
}


#table_batido_ativo{
    width: 29rem;
    position:absolute;
    top:25.5rem;
    left: 42rem;
}

#table_create_juice_ativo tr,
#table_peso_ativo tr,
#table_batido_ativo tr{
    font-size: 1.2rem;
    width: 30rem;
}





#table_frutas{
    position:absolute;
    top:1rem;
    left: 1rem;
}

#table_batido{
    position:absolute;
    top:25rem;
    left: 76rem;
}

#table_peso{
    position:absolute;
    top:1rem;
    left: 76rem;
}

tbody::-webkit-scrollbar {
    width: 0.5rem;
  }
   
  tbody::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
  }

  tbody::-webkit-scrollbar-thumb {
    background-color: rgb(17, 81, 145);
    border-radius: 0.5rem;
    border: 0.1rem solid black;
  }

 .title_table{
    width: 100%;
}